body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    text-align: center;
}

/* Hero */
.hero {
    padding: 80px 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    color: gray;
}

/* Image */
.image-section img {
    width: 350px;
    border-radius: 10px;
    margin: 20px 0;
}

/* Quote */
.quote {
    background: #e5e5e5;
    color: black;
    padding: 50px;
    font-size: 22px;
}

/* Biography */
.biography {
    padding: 60px 100px;
}

.biography h2 {
    font-size: 66px;
    margin-bottom: 20px;
}

.biography p {
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
    color: #ccc;
}
