body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #17b4cc;
    font-family: Arial;
}

.calculator {
    background: #1c1f22;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

#display {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #cdd9e8;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #b7c9df;
    cursor: pointer;
}

button:hover {
    background: #9fb6d4;
}

.equal {
    grid-column: span 2;
    background: #4f83b8;
    color: white;
}


